extends ../layout

block content
  div.container.content
    div.span9.offset1
      h1 New Player
      form.well(action="/admin/players", method="POST")
        p
          label(for="name") Name
          input#title.span7(type="text", name="name", placeholder="Enter Name for Player")
        p
          textarea#body.span7(name="body", placeholder="Enter your post details here - Markdown is supported.")
        p
          button Submit Player
