extends ../layout

block content
  div.container.content
    div.span9.offset1
      h1 Edit Event
      form.well(action="/admin/events/#{event.id}", method="POST")
        p
          label(for="title") Title
          input#title.span7(type="text", name="title", placeholder="Enter Title for Event", value="#{event.title}")
        p
          label(for="event-date") Event Date
          input#event-date.span7(type="date", name="eventDate", value="#{( new Date(event.eventDate)).toString()}")
        p
          label(for="location") Location
          textarea#location.span7(name="location", placeholder="Enter your event details here - Markdown is supported.")= event.location
        p
          button Submit Event
