extends ../layout

block content
  div.container.content
    div.span9.offset1
      h1 New Photo
      form.well(action="/admin/photos", method="POST")
        p
          label(for="name") Name
          input#title.span7(type="text", name="name", placeholder="Enter Name for Photo")
        p
          textarea#body.span7(name="body", placeholder="Enter your photo details here - Markdown is supported.")
        p
          label(for="photo") Photo
          input#photo(type="file", name="photo")
        p
          button Submit Photo
