extends ../layout

block content
  div.container.content
    div.hero-unit
      h1 Boys Golf Team
      p Fort Dorchester High School
    div.span6.offset1
      each post in posts
        article
          header: h1: a(href="/posts/#{post.id}")= post.title
          div.body= post.body