extends ../layout

block content
  div.container.content
    div.span9.offset1
      h1 New User
      form.well(action="/admin/users", method="POST")
        p
          label(for="username") UserName
          input#username.span7(type="text", name="username", placeholder="Enter UserName")
        p
          label(for="password") Password
          input#password.span7(type="password", name="password", placeholder="Enter Password")
        p
          label(for="email") Email
          input#email.span7(type="email", name="email", placeholder="user@email.com")

        p
          button Submit User
